body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.row:nth-of-type(odd) .container1,
.row:nth-of-type(odd) .container2 {
  background-color: #e5e5e5;
}
.row:nth-of-type(even) .container1,
.row:nth-of-type(even) .container2 {
  background-color: #f5f5f5;
}
.row {
  clear: both;
}
.container2 {
  clear: left;
  float: left;
  width: 100%;
  overflow: hidden;
}
.container1 {
  float: left;
  width: 100%;
  position: relative;
  right: 50%;
  border-right: 1px solid #cfcfcf;
}
.container1 :before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.desc {
  float: left;
  position: relative;
  width: 46%;
  overflow: hidden;
  left: 52%;
  margin-bottom: 5px;
}
.responseCont {
  float: left;
  position: relative;
  width: 46%;
  overflow: hidden;
  left: 56%;
  text-align: center;
  margin-bottom: 5px;
}

.marginRight5 {
  margin-right: 5px;
}
